.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #31363f;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: #eee;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #76abae;
}

input:focus + .slider {
  box-shadow: 0 0 1px #76abae;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

.key {
  /*color: #76abae;*/
  color: #9794a3;
}

input {
  font-family: Roboto;
  font-size: 14;
  background-color: #31363f;
  color: #eeeeee;
  width: 350px;
}

body {
  line-height: 1.4;
  margin: 0;
  padding: 0;
  padding: 20px;
  background-color: #222831;
  color: #ccc;
  font-family: Roboto;
  font-size: 14;
}

h1 {
  font-size: 10;
  text-align: center;
}

h2 {
  color: #dfe7ef;
  margin-top: 00px;
}

p {
  margin-bottom: 16px;
  color: #ccc;
}

code {
  background-color: #31363f;
  padding: 2px 6px;
  border-radius: 4px;
  font-family: monospace;
}

blockquote {
  font-style: italic;
  color: #9794a3;
  margin: 30px 0;
  padding-left: 30px;
  border-left: 4px solid #ccc;
}

.container {
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 30px;
  max-width: 800px;
  /*border-radius: 12px;*/
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
